body {
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fphotos&psig=AOvVaw1EOu_TXHRBOjBQLVIJzS9o&ust=1592201676445000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCUrczTgOoCFQAAAAAdAAAAABAD') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#sticky-footer {
  flex-shrink: none;
}

.active-pink-3 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1;
}